header{
    width:100%;
    height:50px;
    line-height:50px;
    background-color: #cccccc;
    padding-left:70%;
}
.home,.about,.profile,.products{
    margin-left: 50px;
    margin-top:50px;
    color: #5a5e5f;
    font-weight:bold;
    text-decoration:none;
    margin-right:50px;
}
a{
    /*color: #5a5e5f;*/
    /*font-weight:bold;*/
    /*text-decoration:none;*/
    margin-right:50px;
    color:red;
}
a:active,a:focus{
    text-decoration:underline;
}
p{
    font-weight:bold;
    /*color: #525657;*/
}
.website{
    color:red;
    text-decoration:underline;
}